*
{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
@media (max-width : 1980px)
{
    /* Navigation Bar*/
.navigation-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
ul
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
ul li
{
    list-style-type: none;
}
li a 
{
    text-decoration: none;
    color: black;
}
.login-menu
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

/* Hero Section*/
.hero-container
{
    display: grid;
    grid-template-rows: 260px ;
    margin:auto 12rem 0px 12rem;
    gap: 10px;
    height: 80vh;
    padding-top: 100px;
}
.hero-container h2
{
   font-size: 500%;
}
.get-started
{
    padding: 10px;
    width: 120px;
    border-style: none;
    background-color: coral;
    cursor: pointer;
}
.get-started:hover
{
    background-color: rgb(240, 169, 77);
}

/*About Section*/
.about-container
{
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
}
.about-container .about-images
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
}
.about-item .about-description
{
    text-align: center;
    width: 50%;
    margin: 100px auto;
}
.about-item .images
{
    justify-items: center;
    position: relative;
    background-color: red;
}
.about-item .images .source
{
    width: 100%;
    height: 100%;
}
.about-item .images .source img
{
    width: 100%;
    height: 100%;
}
.about-item .images .description
{
    position: absolute;
    bottom: 0;
    background-color: red;
    background-color:rgba(32, 33, 34, 0.637) ;
    color: white;
    box-shadow: 10px 10px 900px black;
    opacity: 0;
    padding: 10px;
}
.about-item .images:hover 
{
    cursor: pointer;
    transform: scale(1.02);
}
.about-item .images:hover .description
{
    opacity: 1;

}
/*Services*/
.services-container
{
    display: grid;
    grid-template-rows: 150px 1fr;
    width: 50vw;
    justify-items: center;
}
.services-container .services
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 100px;
    padding: 10px;
    margin: auto 390px;
}
.service-item
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: rgba(65, 180, 233, 0.288);
    box-shadow: 100px 10px 10x rgb(85, 42, 42);
}
.service-item:hover
{
    transform: scale(1.01);
}
.service-image
{
    width: 300px;
    height: 300px;
}
.service-image iframe
{
    width: 100%;
    height: 100%;
}
/*Event*/
.event-card {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.event-info {
  padding: 1rem;
}
/*FAQ*/
.questions-container
{
    display: grid;
    grid-template-rows: 100px 1fr;
    margin: 100px 300px;
}
/*Contact*/
.contact-container
{
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-items: center;
}
form
{
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(4,100px);
    padding: 10px;
    margin-bottom: 100px;
}

form input, textarea, .submit-button
{
    width: 100%;
    height: 50%;
    padding: 20px;
    margin: 0;
}
.side-toggle
{
    background-color: red;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    flex-direction: column;
    padding-left: 0;
    background-color: rgba(255, 255, 255,0.2);
    backdrop-filter: blur(10px);
    border-style: solid;
    display: flex;
}
.hide-toggle
{
    display: none;
}
.side-toggle li, .side-toggle li a
{ 
    width: 100%;
    height: 50px;
    padding: 10px;
}
.side-toggle li:hover
{ 
    cursor: pointer;
}
}

@media (max-width:320px) 
{
  .hideOnMobile 
  {
    display: none;
  }
  .navigation-container 
  {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: red;
  }

  .side-toggle 
  {
    z-index: 999;
    left: 0;
  }
  .hero-container
  {
    display: flex;
    flex-direction: column;
    margin: auto 50px;
    height: 60vh;
    width: 100vw;
  }
  .hero-container h2
  {
    font-size: xx-large;
  }
  .about-container
  {
    display: flex;
    flex-direction: column;
    margin: auto 50px;
    height: 160vh;
    width: 100vw;
    gap: 50px;
    padding: 10px;
  }
  .about-container .about-images
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .about-item .about-description
    {
        text-align: justify;
        width: 100%;
        margin: auto;
    }
    .about-item .images
    {
        position: relative;
        width: 300px;
        margin: auto;
    }
    .services-container
    {
        display: grid;
        grid-template-rows: 150px 1fr;
        width: 100vw;
        justify-items: center;
        margin: auto 20vw;
    }
    .services-container .services
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: auto 0px;
    }
    .service-item
    {
        width:300px;
    }
    .service-image, .service-image iframe
    {
        width: 100%;
        height: 100%;
    }
}






